$secondary: #94b30d;
$primary: #0767b1;
$default: #ffffff;
@import url("https://fonts.googleapis.com/css2?family=Rubik&family=Source+Sans+Pro:wght@400;600&display=swap");

.primary {
  background-color: $primary;
}
.accent {
  background-color: $secondary;
}

.option {
  display: flex;
}
.companyHead {
  margin-bottom: -0.08rem;
}
.mat-h2 {
  color: $primary;
}
.main-container {
  background: #f2f4f8;
  opacity: 1;
  margin-top: 7.5%;
}

// .container-head {
//   width: 100%;
//   padding-top: 2%;
//   padding-bottom: 2%;
//   color: #ffffff;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;

//   span {
//     margin-top: 1.5rem;
//     font-size: 1.5rem;
//     font-family: "Rubik", sans-serif;
//   }
//   mat-icon.back {
//     font-size: 3.8rem;
//     margin-left: -4rem;
//     margin-top: -0.6rem;
//     cursor: pointer;
//   }

//   mat-icon.translate {
//     font-size: 2rem;
//     margin-right: -2rem;
//     margin-top: 1rem;
//     cursor: pointer;
//   }
// }

.payment-container {
  position: relative;
  width: 850px;
  height: 520px;
  margin: 0 auto;
  background: #0061a9;
  box-shadow: 0px 3px 6px 0px #00000029;
  opacity: 1;
}

.mobilePhone-Container {
  margin-top: 2rem;
  margin-left: -3.6rem;

  img {
    height: 15%;
    width: 20%;
  }
}

.creditCard-Container {
  margin-top: 6rem;
  margin-left: -1rem;
  position: absolute;
  z-index: 1;

  img {
    height: 28%;
    width: 69%;
    z-index: 99;
  }
}

.branding-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  .branding-logo {
    height: 26px;
  }
  .branding-text {
    height: 19px;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: 0px;
    color: #636363;
    opacity: 1;
  }
}

// @media screen and (min-width: 490px) {
//   .payment-container {
//     position: relative;
//     width: 635px;
//     height: 593px;
//     margin: 0 auto;
//     background: #0061a9;
//     box-shadow: 0px 3px 6px 0px #00000029;
//     opacity: 1;
//   }
// }
// @media screen and (max-width: 314px) {
//   .payment-container {
//     position: relative;
//     width: 470px;
//     height: 593px;
//     margin: 0 auto;
//     background: #0061a9;
//     box-shadow: 0px 3px 6px 0px #00000029;
//     opacity: 1;
//   }

//   .stepper-container{
//     width: 101%;
//     margin-top: -1.1rem;
//     margin-left: 2rem;
// }

// .total-container {
//     margin-top: -6.5rem;
//     margin-left: -1.5rem;
//     margin-bottom: 3rem;
// }
// .total-container .total {
//     color: #636363;
//     font-family: "Rubik", sans-serif;
//     font-size: 1.8rem;
//     margin-left: 6rem;
// }

// .total-container .amount{
//     color: #94b30d;
//     font-size: 3.2rem;
//     margin-left: 3rem;
// }

// .select-form {
//     width: 85%;
//     margin-bottom: 9rem;
//     /* margin-right: 22rem; */
//     margin-left: -4rem;
// }

// .stepper-head[_ngcontent-euq-c4] .number-large[_ngcontent-euq-c4]::before {
//     height: 43px;
//     width: 42px;
//     top: -21px;
// }

// .stepper-head[_ngcontent-euq-c4] .step-number-2[_ngcontent-euq-c4]::before {
//     content: "2";
//     height: 33px;
//     width: 33px;
//     background-color: #bfbfbf;
//     border-radius: 100%;
//     position: relative;
//     left: 0px;
//     top: -16px;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
//     color: #ffffff;
// }

// }
