<!-- <div class="companyHead">
  <img src="../../../assets/icons/Seven Pay logo small.png" alt="7 pay Logo" />
  <p class="mat-h2">SevenPay Hosted Payment</p>
</div> -->

<div class="boder-bottom"></div>
<div class="main-container">
  <div class="payment-container">
    <!-- head -->
    <app-head
      (emitPreviousStateEvent)="gotoPreviousFormState($event)"
      [formState]="formState"
    ></app-head>
    <!-- body -->
    <app-payment-body
      (paymentMethod)="getGateway($event)"
      [receiveNextActiveState]="nextActiveState"
      [receivePreviousActiveState]="previousActiveState"
      (emitCurrentState)="getCurrentFormState($event)"
    ></app-payment-body>

    <!-- side icons for card and phone -->
    <div
      *ngIf="selectedGateway === 'mobileMoney' && formState === 'step2'"
      class="mobilePhone-Container"
    >
      <img src="assets/icons/Phoneeneo@2x.png" alt="" />
    </div>
    <div
      *ngIf="selectedGateway === 'visaCard' && formState === 'step2'"
      class="creditCard-Container"
    >
      <img src="assets/icons/creditCard.png" alt="" />
    </div>
  </div>

  <!-- button -->
  <app-payment-button
    (nextEvent)="getNextEventFromButton($event)"
    [formState]="currentFormState"
  ></app-payment-button>

  <!-- branding -->
  <div class="branding-container">
    <span class="branding-text">Powered By &nbsp;</span>
    <img
      src="assets/icons/SevenPaylogosmall.png"
      class="branding-logo"
      alt=""
    />
  </div>
</div>

<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper> -->

<!-- <div class="select-payment-container">
  <form class="payment-form">
    <mat-card class="creditCard-container">
      <mat-card-header color="primary">
        <mat-card-title>Paiements</mat-card-title>
        <mat-icon (click)="cancelPayment()">close</mat-icon>
      </mat-card-header>

      <mat-card-content>
        <p class="merchant-container">
          Merchant : <span class="merchantName"> MyEasyLight</span>
        </p>

        <div class="total-payment">
          <p>Total</p>
          <p class="amount">{{ total }}<small>XAF</small></p>
        </div>

        <mat-form-field class="select-form" appearance="outline">
          <mat-label>Selectionnez votre mode de paiement</mat-label>
          <img
            *ngIf="selectedGateway === 'mobileMoney'"
            matPrefix
            class="input-icon"
            src="../../../assets/icons/momo.jpg"
            width="34px"
            height="34px"
          />
          <img
            *ngIf="selectedGateway === 'visaCard'"
            matPrefix
            class="input-icon"
            src="../../../assets/icons/visa.png"
            width="50px"
            height="50px"
          />

          <mat-select [(value)]="selectedGateway">
            <mat-option value="mobileMoney" (click)="showMobileMoney()">
              <img
                matPrefix
                class="input-icon"
                src="../../../assets/icons/momo.jpg"
                width="30px"
                height="30px"
                alt="masterCard"
              /><span>Mtn Mobile Money</span></mat-option
            >
            <mat-option value="orangeMoney" (click)="showMobileMoney()">
              <img
                matPrefix
                class="input-icon"
                src="../../../assets/icons/orange.png"
                width="30px"
                height="30px"
                alt="masterCard"
              /><span>Orange Money</span></mat-option
            >
            <mat-option value="expressUnion" (click)="showMobileMoney()">
              <img
                matPrefix
                class="input-icon"
                src="../../../assets/icons/eu2Modified.jpg"
                width="30px"
                height="30px"
                alt="Express Union"
              /><span>EU Money</span></mat-option
            >
            <mat-option value="visaCard" (click)="showStripeCreditCard()">
              <img
                matPrefix
                class="input-icon"
                src="../../../assets/icons/visa.png"
                width="30px"
                height="30px"
                alt="masterCard"
              /><span>Visa Card</span>
            </mat-option>
            <mat-option value="payPal" (click)="showStripeCreditCard()">
              <img
                matPrefix
                class="input-icon"
                src="../../../assets/icons/paypal.png"
                width="30px"
                height="30px"
                alt="masterCard"
              /><span>PayPal</span>
            </mat-option>
            <mat-option value="masterCard" (click)="showStripeCreditCard()">
              <img
                matPrefix
                class="input-icon"
                src="../../../assets/icons/master.png"
                width="30px"
                height="30px"
                alt="masterCard"
              />
              <span> Master Card</span></mat-option
            >
          </mat-select>
        </mat-form-field>

        <div
          class="momoForm appInputField-container"
          [ngClass]="{ toggleMobileMoney: !toggleMobileMoney }"
          color="primary"
        >
          <input
            class="appInputField"
            type="text"
            placeholder="Please enter Mobile Money number"
          />
        </div>

        <div class="spinner-container">
          <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
          <span class="loading" *ngIf="loading">Loading...</span>
          <span class="please-wait" *ngIf="loading">Please wait</span>
        </div>
      </mat-card-content>

      <mat-card-actions *ngIf="selectedGateway === 'mobileMoney'">
        <button
          mat-raised-button
          color="primary"
          class="acceptPayment"
          (click)="makePayment()"
        >
          Pay
        </button>
        <button
          mat-raised-button
          color="accent"
          class="cancelPayment"
          (click)="cancelPayment()"
        >
          Cancel
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div> -->

<!-- STRIPE THINGS HERE -->
<!-- <form
  (submit)="payment($event)"
  [ngClass]="{ toggleCreditCard: !toggleCreditCard }"
  class="showStripeCard stripeCard"
> -->
<!-- ELEMENTS HERE -->
<!-- <div #cardElement id="elementCard"> -->
<!-- A Stripe Element will be inserted here. -->
<!-- </div> -->

<!-- <div class="cardNumber">
    <div #cardNumber></div>
  </div>

  <div class="cardExp">
    <div #cardExpiry></div>
  </div>

  <div class="cardCvc">
    <div #cardCvc></div>
  </div> -->

<!-- Used to display Element errors. -->
<!-- <p>{{ cardErrors }}</p> -->

<!-- <button mat-raised-button color="primary" class="paiement">
    Payer ${{ total / 500 }}
  </button>
</form> -->
<!-- END OF STRIPE THINGS -->
