$secondary: #94b30d;
$primary: #0767b1;
$default: #ffffff;
@import url("https://fonts.googleapis.com/css2?family=Rubik&family=Source+Sans+Pro:wght@400;600&display=swap");

.container-head {
  width: 100%;
  padding-top: 1%;
  padding-bottom: 2%;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;

  span {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-family: "Rubik", sans-serif;
  }
  mat-icon.back {
    font-size: 3.8rem;
    margin-left: -4rem;
    margin-top: -0.6rem;
    cursor: pointer;
  }

  mat-icon.translate {
    font-size: 2rem;
    margin-right: -2rem;
    margin-top: 1rem;
    cursor: pointer;
  }
}
.responsive {
  display: none;
}

#english {
  background-image: url("../../../../assets/icons/engFlag.png");
}
#french {
  background-image: url("../../../../assets/icons/frenchFlag.png");
}
// @media screen and (max-width: 490px) {
//   .responsive {
//     display: inline;
//   }
//   .Not-responsive {
//     display: none;
//   }
// }
